/* ************************
** Variables
** ********************* */

:root {
  --msg-list__background: var(--chat--light__background--1);
  --msg-list__padding: 0;
  --msg-list__unread__background: var(--chat--light__color--2);
  --msg-list__unread__borderRadius: 20px;
  --msg-list__unread__color: var(--chat--light__background--2);
  --msg-list__unread__fontSize: 13px;
  --msg-list__unread__fontWeight: 400;
  --msg-list__unread__padding: 8px 16px;
  --msg-list__unread__offset: 20px;
  --msg-list__spinner__color: var(--chat--light__color--2);
  --msg-list__spinner__margin: 10px auto;

  --msg--hover__background: var(--chat--light__hover--3);
  --msg__alignItems: flex-start;
  --msg__flexDirection: row;
  --msg__height: auto;
  --msg__padding: 10px 16px;
  --msg__actions--hover__background: transparent;
  --msg__actions--hover__color: var(--chat--light__hover--1);
  --msg__actions--hover__border: 1px solid var(--chat--light__border--1);
  --msg__actions__background: transparent;
  --msg__actions__border: 1px solid var(--chat--light__border--1);
  --msg__actions__borderRadius: 15px;
  --msg__actions__color: var(--chat--light__color--2);
  --msg__actions__fontSize: 22px;
  --msg__actions__margin: 0 0 0 4px;
  --msg__actions__padding: 0 7px;
  --msg__actions__right: 10px;
  --msg__actions__top: 10px;
  --msg__author__color: var(--chat--light__color--1);
  --msg__author__fontSize: 15px;
  --msg__author__fontWeight: 500;
  --msg__author__padding: 0;
  --msg__avatar__display: flex;
  --msg__avatar__fontSize: 10px;
  --msg__avatar__margin: 2px 18px 0 0;
  --msg__avatar__size: 36px;
  --msg__avatar__borderRadius: 36px;
  --msg__bubble__background: transparent;
  --msg__bubble__boxShadow: none;
  --msg__bubble__borderRadius: 0;
  --msg__bubble__color: var(--chat--light__color--1);
  --msg__bubble__fontSize: 13px;
  --msg__bubble__fontWeight: 400;
  --msg__bubble__margin: 0;
  --msg__bubble__padding: 0;
  --msg__content__alignItems: flex-start;
  --msg__content__flexDirection: column;
  --msg__content__margin: 0;
  --msg__image__borderRadius: 10px;
  --msg__image__margin: 15px 0 0;
  --msg__link__margin: 10px 0 0;
  --msg__link__padding: 20px;
  --msg__link-description__color: var(--chat--light__color--2);
  --msg__link-thumb__maxWidth: 210px;
  --msg__link-title__color: var(--chat--light__color--1);
  --msg__main__alignItems: flex-start;
  --msg__main__flexDirection: column;
  --msg__main__margin: 0;
  --msg__main__maxWidth: 60%;
  --msg__time__display: block;
  --msg__time__color: var(--chat--light__color--1);
  --msg__time__fontSize: 11px;
  --msg__time__fontWeight: 300;
  --msg__time__padding: 0 10px;
  --msg__title__alignItems: baseline;
  --msg__title__display: flex;
  --msg__title__flexDirection: row;
  --msg__title__margin: 0 0 10px;
  --msg__reaction--hover__background: var(--chat--light__hover--4);
  --msg__reaction--hover__border: 1px solid var(--chat--light__border--2);
  --msg__reaction--active__background: rgba(var(--chat--light__background--5-rgb), 0.2);
  --msg__reaction--active__border: 1px solid transparent;
  --msg__reaction--active--hover__background: rgba(var(--chat--light__background--5-rgb), 0.24);
  --msg__reaction--active--hover__border: 1px solid rgba(var(--chat--light__background--5-rgb), 0.4);
  --msg__reaction__background: transparent;
  --msg__reaction__border: 1px solid var(--chat--light__border--1);
  --msg__reaction__borderRadius: 15px;
  --msg__reaction__margin: 10px 5px 0 0;
  --msg__reaction__padding: 0 7px 0 3px;
  --msg__reaction__wordSpacing: 2px;
}

/* ************************
** Styles
** ********************* */

.pn-msg-list {
  background: var(--msg-list__background);
  height: 100%;
  overflow: hidden;
  padding: var(--msg-list__padding);
  position: relative;
  width: 100%;

  &-scroller {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    overscroll-behavior-y: contain;
    position: relative;
    transform: translateZ(0);
    width: 100%;
  }

  &__spinner {
    text-align: center;

    svg {
      color: var(--msg-list__spinner__color);
      margin: var(--msg-list__spinner__margin);
    }
  }

  &__unread {
    background: var(--msg-list__unread__background);
    border-radius: var(--msg-list__unread__borderRadius);
    color: var(--msg-list__unread__color);
    cursor: pointer;
    font-size: var(--msg-list__unread__fontSize);
    font-weight: var(--msg-list__unread__fontWeight);
    left: 50%;
    padding: var(--msg-list__unread__padding);
    position: absolute;
    top: var(--msg-list__unread__offset);
    transform: translateX(-50%);
    z-index: 5;

    svg {
      vertical-align: bottom;
    }
  }

  &__bottom-ref {
    position: relative;
    height: auto;

    & > div {
      position: absolute;
      bottom: 0;
      height: 30px;
      width: 100%;
      z-index: -1;
    }
  }

  &__spacer {
    flex: 1 1 auto;
  }

  &__emoji-picker {
    position: absolute;
    right: 50px;
    z-index: 10;
  }

  &__emoji-picker-hidden {
    pointer-events: none;
    visibility: hidden;
  }
}

.pn-msg {
  align-items: var(--msg__alignItems);
  display: flex;
  flex-direction: var(--msg__flexDirection);
  height: var(--msg__height);
  padding: var(--msg__padding);
  position: relative;

  &:hover {
    background: var(--msg--hover__background);

    .pn-msg__actions {
      display: flex;
    }
  }

  &__actions {
    color: var(--msg__actions__color);
    cursor: pointer;
    display: none;
    font-size: var(--msg__actions__fontSize);
    position: absolute;
    right: var(--msg__actions__right);
    top: var(--msg__actions__top);

    & > * {
      background: var(--msg__actions__background);
      border: var(--msg__actions__border);
      border-radius: var(--msg__actions__borderRadius);
      display: flex;
      margin: var(--msg__actions__margin);
      padding: var(--msg__actions__padding);
    }

    & > *:hover {
      background: var(--msg__actions--hover__background);
      border: var(--msg__actions--hover__border);
      color: var(--msg__actions--hover__color);
    }
  }

  &__main {
    align-items: var(--msg__main__alignItems);
    display: flex;
    flex-direction: var(--msg__main__flexDirection);
    padding: var(--msg__main__margin);
    max-width: var(--msg__main__maxWidth);
  }

  &__content {
    align-items: var(--msg__content__alignItems);
    display: flex;
    flex-direction: var(--msg__content__flexDirection);
    padding: var(--msg__content__margin);
  }

  &__title {
    align-items: var(--msg__title__alignItems);
    display: var(--msg__title__display);
    flex-direction: var(--msg__title__flexDirection);
    margin: var(--msg__title__margin);
  }

  &__bubble {
    background: var(--msg__bubble__background);
    box-shadow: var(--msg__bubble__boxShadow);
    border-radius: var(--msg__bubble__borderRadius);
    color: var(--msg__bubble__color);
    display: inline-block;
    font-size: var(--msg__bubble__fontSize);
    font-weight: var(--msg__bubble__fontWeight);
    margin: var(--msg__bubble__margin);
    padding: var(--msg__bubble__padding);
    word-break: break-word;
  }

  &__author {
    color: var(--msg__author__color);
    font-size: var(--msg__author__fontSize);
    font-weight: var(--msg__author__fontWeight);
    padding: var(--msg__author__padding);
  }

  &__time {
    display: var(--msg__time__display);
    color: var(--msg__time__color);
    font-size: var(--msg__time__fontSize);
    font-weight: var(--msg__time__fontWeight);
    padding: var(--msg__time__padding);
  }

  &__avatar {
    align-items: center;
    border-radius: var(--msg__avatar__borderRadius);
    color: var(--msg-list__background);
    display: var(--msg__avatar__display);
    flex: none;
    font-size: var(--msg__avatar__fontSize);
    height: var(--msg__avatar__size);
    justify-content: center;
    margin: var(--msg__avatar__margin);
    width: var(--msg__avatar__size);

    img {
      border-radius: var(--msg__avatar__borderRadius);
      height: 100%;
      width: 100%;
    }
  }

  &__reaction {
    background: var(--msg__reaction__background);
    border: var(--msg__reaction__border);
    border-radius: var(--msg__reaction__borderRadius);
    color: var(--msg__bubble__color);
    cursor: pointer;
    display: inline-block;
    font-size: var(--msg__bubble__fontSize);
    font-weight: var(--msg__bubble__fontWeight);
    margin: var(--msg__reaction__margin);
    padding: var(--msg__reaction__padding);
    word-spacing: var(--msg__reaction__wordSpacing);

    &:hover {
      background: var(--msg__reaction--hover__background);
      border: var(--msg__reaction--hover__border);
    }

    &--active {
      background: var(--msg__reaction--active__background);
      border: var(--msg__reaction--active__border);
    }

    &--active:hover {
      background: var(--msg__reaction--active--hover__background);
      border: var(--msg__reaction--active--hover__border);
    }
  }

  &__image {
    border-radius: var(--msg__image__borderRadius);
    box-shadow: var(--msg__bubble__boxShadow);
    margin: var(--msg__image__margin);
    max-width: 100%;
  }

  &__link {
    background: var(--msg__bubble__background);
    border-radius: var(--msg__bubble__borderRadius);
    box-shadow: var(--msg__bubble__boxShadow);
    color: var(--msg__bubble__color);
    display: flex;
    font-size: var(--msg__bubble__fontSize);
    font-weight: var(--msg__bubble__fontWeight);
    margin: var(--msg__link__margin);
    overflow: hidden;
    text-decoration: none;

    img {
      max-width: var(--msg__link-thumb__maxWidth);
    }

    & > div {
      padding: var(--msg__link__padding);
    }

    &-name {
      font-size: 15px;
      font-weight: 500;
      margin: 0;
    }

    &-name img {
      margin-right: 10px;
      max-height: 16px;
      max-width: 16px;
      vertical-align: bottom;
    }

    &-title {
      color: var(--msg__link-title__color);
      font-weight: 500;
      margin: 2px 0;
    }

    &-description {
      color: var(--msg__link-description__color);
      margin: 0;
    }
  }

  &__nonImage {
    color: var(--msg__bubble__color);
  }

  &__downloadIcon {
    color: var(--msg__bubble__color);
    margin: 0 0 0 8px;
    vertical-align: middle;
  }
}

/* ************************
** Themes
** ********************* */

.pn-msg-list--dark,
.pn-msg-list--support-dark,
.pn-msg-list--event-dark {
  --msg-list__background: var(--chat--dark__background--1);
  --msg-list__unread__background: var(--chat--dark__color--2);
  --msg-list__unread__color: var(--chat--dark__background--2);
  --msg-list__spinner__color: var(--chat--dark__color--2);

  --msg--hover__background: var(--chat--dark__border--1);
  --msg__actions--hover__color: var(--chat--dark__hover--1);
  --msg__actions--hover__border: 1px solid var(--chat--dark__background--1);
  --msg__actions--hover__background: var(--chat--dark__background--1);
  --msg__actions__background: var(--chat--dark__background--1);
  --msg__actions__border: 1px solid var(--chat--dark__background--1);
  --msg__actions__color: var(--chat--dark__color--2);
  --msg__author__color: var(--chat--dark__color--1);
  --msg__bubble__color: var(--chat--dark__color--1);
  --msg__link-description__color: var(--chat--dark__color--2);
  --msg__link-title__color: var(--chat--dark__color--1);
  --msg__time__color: var(--chat--dark__color--1);
  --msg__reaction--hover__background: rgba(var(--chat--dark__hover--4-rgb), 0.3);
  --msg__reaction--hover__border: 1px solid var(--chat--dark__hover--4);
  --msg__reaction--active__background: rgba(var(--chat--dark__background--5), 0.3);
  --msg__reaction--active--hover__background: rgba(var(--chat--dark__background--5), 0.4);
  --msg__reaction--active--hover__border: 1px solid rgba(var(--chat--dark__background--5), 0.4);
  --msg__reaction__background: var(--chat--dark__background--1);
  --msg__reaction__border: 1px solid var(--chat--dark__border--1);
}

.pn-msg-list--support,
.pn-msg-list--support-dark {
  --msg__title__display: none;

  .pn-msg--own {
    --msg__flexDirection: row-reverse;
    --msg__avatar__display: none;
  }
}

.pn-msg-list--event,
.pn-msg-list--event-dark {
  --msg__alignItems: flex-start;
  --msg__actions__top: 0;
  --msg__author__fontSize: 13px;
  --msg__avatar__display: none;
  --msg__bubble__background: transparent;
  --msg__bubble__padding: 0;
  --msg__content__alignItems: center;
  --msg__content__flexDirection: row;
  --msg__main__alignItems: baseline;
  --msg__main__flexDirection: column;
  --msg__main__maxWidth: 100%;
  --msg__padding: 7px 12px;
  --msg__time__display: none;
  --msg__title__margin: 0 6px 0 0;

  .pn-msg {
    &__author:after {
      content: ":";
    }
  }
}
