.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.channels {
  flex-shrink: 0;
  width: 250px;
}

.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.members {
  transition: 0.3s ease-in-out;
  flex-shrink: 0;
  width: 0;
  transform: translateX(310px);
}

.members.shown {
  transform: none;
  width: 310px;
}

.people {
  align-items: center;
  color: gray;
  cursor: pointer;
  display: flex;
  position: absolute;
  right: 40px;
  top: 10px;
  z-index: 1;
}

.people.active {
  color: rgb(142, 45, 226);
}

.pn-channel-list {
  --channel__description__display: none;
  --channel__membership__top: 25px;
  --channel__name__fontSize: 13px;
  --channel__name__fontWeight: 400;
  --channel__padding: 20px 24px;
}
