* {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: 'Poppins', sans-serif;
  height: 100%;
  margin: 0;
}

p {
  margin: 0;
}

button {
  background: no-repeat center;
  background-size: contain;
  border: none;
  cursor: pointer;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
}