.app-moderated {
  --channel__description__display: none;
  --member__title__display: none;

  background: #ffffff;
  color: #585858;
  display: flex;
  height: 100vh;
  overflow: hidden;

  .banned-error,
  .blocked-error {
    align-items: center;
    color: rgb(168, 0, 0);
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0;
    width: 100%;
  }

  .blocked-error {
    font-size: 14px;
  }

  .channels-panel {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 350px;

    h4 {
      margin: 34px 24px 12px;
    }
  }

  .channel-lists {
    overflow: auto;
  }

  .user-info {
    align-items: center;
    display: flex;
    padding: 46px 24px 20px;

    h4 {
      flex-grow: 1;
      margin: 0;
    }

    & > div {
      flex: 1;
    }

    img {
      background: #f0f3f7;
      border-radius: 36px;
      height: 36px;
      margin: 0 24px 0 0;
      vertical-align: middle;
      width: 36px;
    }
  }

  .channel-info {
    padding: 24px 24px 0;

    h4 {
      display: inline-block;
      margin: 0 0 2px;
    }

    span {
      cursor: pointer;
    }

    small {
      color: #9b9b9b;
    }
  }

  .chat-window {
    background: #f0f3f7;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 30px 0;
    padding-bottom: 30px;
    position: relative;

    hr {
      background-color: #d0dae5;
      border: 0;
      height: 1px;
      margin: 18px 0 0;
    }
  }

  .members-panel {
    background: #ffffff;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    transform: translateX(330px);
    transition: 0.3s ease-in-out;
    width: 0;

    &.shown {
      transform: none;
      width: 330px;
    }

    &.hidden {
      margin-left: 20px;
    }

    h4 {
      margin: 54px 24px 12px;
    }

    .close-icon {
      display: inline-block;
    }
  }

  .close-icon {
    cursor: pointer;
    display: none;
    float: right;
    font-weight: bold;
  }

  .hamburger-icon {
    display: none;
    float: left;
    font-size: 24px;
    margin-right: 20px;
  }

  .plus-icon {
    cursor: pointer;
    float: right;

    &:hover {
      color: #de2440;
    }
  }

  .overlay {
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    display: flex;
    justify-content: center;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 15;
  }

  .modal {
    --member--hover__background: #f0f3f7;
    --member__cursor: pointer;

    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    height: 50vh;
    width: 600px;

    .header {
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
      padding: 28px 28px 6px;
      margin-bottom: 20px;
      position: relative;
      text-align: center;

      h4 {
        margin: 0 0 20px;
      }
    }

    .footer {
      box-shadow: 0px -1px 5px rgba(0, 0, 0, 0.2);
      padding: 28px;
    }

    .close-icon {
      display: block;
    }
  }

  .form {
    display: flex;

    input,
    button {
      padding: 15px;
      border-radius: 5px;
    }

    input {
      color: #585858;
      border: 2px solid #f0f3f7;
      background-color: #f0f3f7;
      flex: 1;

      &:focus {
        outline: none;
        border-bottom-color: #de2440;
      }
    }

    button {
      background-color: #de2440;
      border: none;
      color: white;
      cursor: pointer;
      font-weight: bold;
    }

    input + button {
      margin-left: 10px;
    }

    button[disabled] {
      background-color: #bbb;
      cursor: not-allowed;
    }
  }

  .filter-input {
    margin: 10px 20px;
    position: relative;

    input {
      box-sizing: border-box;
      color: #585858;
      background-color: #f0f3f7;
      border-radius: 15px;
      border: 0;
      padding: 10px 15px;
      outline: none;
      width: 100%;
    }

    svg {
      position: absolute;
      right: 15px;
      top: 10px;
    }
  }

  .report-user-modal {
    height: auto;

    .content {
      margin: 20px 40px 30px;
    }

    .user-info {
      padding: 0 0 30px;
    }
  }

  .public-channels-modal {
    min-height: 500px;
    padding-bottom: 10px;
  }

  .create-chat-modal {
    min-height: 600px;

    .form {
      margin: 17px 20px 18px;
    }

    .back-icon {
      color: #de2440;
      cursor: pointer;
      float: left;
      position: absolute;
      left: 20px;
      top: 20px;
    }

    .group-button {
      align-items: center;
      color: #de2440;
      cursor: pointer;
      display: flex;
      font-size: 15px;
      margin: 15px 0;
      padding: 9px 24px;

      &:hover {
        background-color: #f0f3f7;
      }

      strong {
        flex-grow: 1;
      }
    }

    .people-icon {
      background: rgba(239, 58, 67, 0.1);
      border-radius: 100%;
      margin-right: 24px;
      padding: 10px;
    }

    .check-icon {
      border-radius: 3px;
      border: 2px solid #999999;
      color: white;
      height: 16px;
      width: 16px;

      &.checked {
        background-color: #de2440;
        border-color: #de2440;
      }
    }

    .footer button {
      background: none;
      border: none;
      color: #de2440;
      cursor: pointer;
      float: right;
      font-size: 14px;
      font-weight: bold;

      &:disabled {
        color: #585858;
        cursor: not-allowed;
      }
    }
  }

  @media (max-width: 950px) {
    .channels-panel,
    .members-panel.shown {
      width: 200px;
    }
  }

  @media (max-width: 700px) {
    .channels-panel {
      height: 100%;
      position: absolute;
      transition: 0.3s ease-in-out;
      width: 100%;
      z-index: 10;

      &:not(.shown) {
        transform: translateX(-100%);
      }
    }

    .user-info {
      padding-top: 24px;
    }

    .close-icon {
      display: inline-block;
    }

    .chat-window {
      margin: 5px;
    }

    .hamburger-icon {
      display: inline;
    }

    .members-panel {
      &.shown {
        height: 100%;
        padding: 24px 0;
        position: absolute;
        width: 100%;
        z-index: 10;

        h4 {
          margin-top: 0;
        }
      }

      &.hidden {
        margin-left: 0;
      }
    }

    .modal {
      border-radius: 0px;
      height: 100%;
      width: 100%;
    }
  }
}
