body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2f3136;
  color: #dcddde;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.welcome {
  margin: 0 auto;
  width: 900px;
}

.welcome a {
  color: #dcddde;
  text-decoration: none;
}

.welcome a:hover {
  text-decoration: underline;
}

.welcome ul {
  padding-left: 16px;
}

.welcome li {
  margin: 10px 0;
}
