.app {
  display: flex;
  height: calc(100vh - 35px);
  overflow: hidden;
}

.channels {
  flex-shrink: 0;
  width: 300px;
}

.chat {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  position: relative;
}

.members {
  transition: 0.3s ease-in-out;
  flex-shrink: 0;
  width: 0;
  transform: translateX(310px);
}

.members.shown {
  transform: none;
  width: 310px;
}

.people {
  align-items: center;
  color: gray;
  cursor: pointer;
  display: flex;
  font-size: 13px;
  position: absolute;
  right: 40px;
  top: 10px;
  z-index: 1;
}

.people span {
  margin: 2px 8px 0 0;
}

.people.active {
  color: rgb(142, 45, 226);
}
