/* ************************
** Variables
** ********************* */

:root {
  --occupancy-indicator__display: inline-block;
  --occupancy-indicator__fontSize: 12px;
  --occupancy-indicator__fontWeight: 500;
  --occupancy-indicator__margin: 10px;
}

/* ************************
** Styles
** ********************* */

.pn-occupancy-indicator {
  display: var(--occupancy-indicator__display);
  font-size: var(--occupancy-indicator__fontSize);
  font-weight: var(--occupancy-indicator__fontWeight);
  margin: var(--occupancy-indicator__margin);
}
