.event-app {
  background: linear-gradient(rgb(62 65 72) 0%, rgb(47 49 54) 100%);
  color: white;
  display: flex;
  height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

.event-main {
  display: flex;
  flex-direction: column;
}

.event-channels {
  margin-bottom: 20px;
}

.event-link {
  margin-left: 10px;
  cursor: pointer;
  color: rgb(164 87 230);
}

.event {
  display: flex;
  height: 600px;
  border: 3px solid rgb(77 81 90);
  margin-bottom: 40px;
}

.event iframe {
  height: 600px;
  width: 1067px;
}

.event-chat {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 400px;
}
