/* ************************
** Variables
** ********************* */
:root {
  --msg-input__background: var(--chat--light__background--1);
  --msg-input__padding: 10px 9px;
  --msg-input__emoji-picker__bottom: 16px;
  --msg-input__emoji-picker__left: 16px;
  --msg-input__emoji-picker__right: 95px;
  --msg-input__icon__background: none;
  --msg-input__icon__border: none;
  --msg-input__icon__color: var(--chat--light__color--2);
  --msg-input__icon__fontSize: 13px;
  --msg-input__icon__margin: 0 9px;
  --msg-input__icon__padding: 0;
  --msg-input__send__background: transparent;
  --msg-input__send__border: none;
  --msg-input__send__borderRadius: 5px;
  --msg-input__send__color: var(--chat--light__color--2);
  --msg-input__send--active__color: var(--chat--light__hover--1);
  --msg-input__send__fontFamily: inherit;
  --msg-input__send__fontSize: 13px;
  --msg-input__send__fontWeight: bold;
  --msg-input__send__margin: 0 9px;
  --msg-input__send__minWidth: 0;
  --msg-input__send__padding: 0;
  --msg-input__file-preview-container__margin: 0 0 8px 10px;
  --msg-input--disabled__placeholder__color: rgba(var(--chat--light__color--2-rgb), 0.5);
  --msg-input__placeholder__color: var(--chat--light__color--2);
  --msg-input__textarea--focus__border: 1px solid transparent;
  --msg-input__textarea--focus__outline: none;
  --msg-input__textarea__background: var(--chat--light__hover--2);
  --msg-input--disabled__textarea__background: var(--chat--light__background--3);
  --msg-input__textarea__border: 1px solid transparent;
  --msg-input--disabled__textarea__border: 1px solid transparent;
  --msg-input__textarea__borderRadius: 20px;
  --msg-input__textarea__boxShadow: none;
  --msg-input__textarea__color: var(--chat--light__color--1);
  --msg-input__textarea__fontFamily: inherit;
  --msg-input__textarea__fontSize: 13px;
  --msg-input__textarea__height: 32px;
  --msg-input__textarea__lineHeight: 18px;
  --msg-input__textarea__outline: none;
  --msg-input__textarea__padding: 6px 14px 8px;
  --msg-input__textarea__margin: 0 9px;
  --msg-input__textarea__resize: none;
  --msg-input__textarea__width: 100%;
  --msg-input__textarea__overflow: hidden;
  --msg__preview__color: var(--chat--light__color--1);
  --msg__preview__fontSize: 14px;
}

/* ************************
** Styles
** ********************* */

.pn-msg-input {
  background: var(--msg-input__background);
  padding: var(--msg-input__padding);

  &__wrapper {
    align-items: center;
    display: flex;
    position: relative;
  }

  &__textarea {
    background: var(--msg-input__textarea__background);
    border-radius: var(--msg-input__textarea__borderRadius);
    border: var(--msg-input__textarea__border);
    box-shadow: var(--msg-input__textarea__boxShadow);
    box-sizing: border-box;
    color: var(--msg-input__textarea__color);
    font-family: var(--msg-input__textarea__fontFamily);
    font-size: var(--msg-input__textarea__fontSize);
    height: var(--msg-input__textarea__height);
    line-height: var(--msg-input__textarea__lineHeight);
    margin: var(--msg-input__textarea__margin);
    outline: var(--msg-input__textarea__outline);
    overflow: var(--msg-input__textarea__overflow);
    padding: var(--msg-input__textarea__padding);
    resize: var(--msg-input__textarea__resize);
    width: var(--msg-input__textarea__width);

    &:focus-within {
      outline: var(--msg-input__textarea--focus__outline);
      border: var(--msg-input__textarea--focus__border);
    }

    &::placeholder {
      color: var(--msg-input__placeholder__color);
    }
  }

  &__send {
    background: var(--msg-input__send__background);
    border-radius: var(--msg-input__send__borderRadius);
    border: var(--msg-input__send__border);
    color: var(--msg-input__send__color);
    cursor: pointer;
    flex-shrink: 0;
    font-family: var(--msg-input__send__fontFamily);
    font-size: var(--msg-input__send__fontSize);
    font-weight: var(--msg-input__send__fontWeight);
    margin: var(--msg-input__send__margin);
    min-width: var(--msg-input__send__minWidth);
    padding: var(--msg-input__send__padding);
    white-space: nowrap;

    &--active {
      color: var(--msg-input__send--active__color);
    }
  }

  &__file-preview-container {
    margin: var(--msg-input__file-preview-container__margin);
    color: var(--msg__preview__color);
    font-size: var(--msg__preview__fontSize);
  }

  &__emoji-picker {
    bottom: var(--msg-input__emoji-picker__bottom);
    left: var(--msg-input__emoji-picker__left);
    right: var(--msg-input__emoji-picker__right);
    position: absolute;
  }

  &__icons {
    align-items: center;
    display: flex;

    button {
      background: var(--msg-input__icon__background);
      border: var(--msg-input__icon__border);
      color: var(--msg-input__icon__color);
      cursor: pointer;
      font-size: var(--msg-input__icon__fontSize);
      margin: var(--msg-input__icon__margin);
      padding: var(--msg-input__icon__padding);
    }
  }

  &__fileLabel {
    cursor: pointer;
  }

  &__fileInput {
    display: none;
  }
}

.pn-msg-input--disabled {
  .pn-msg-input__textarea {
    background: var(--msg-input--disabled__textarea__background);
    border: var(--msg-input--disabled__textarea__border);
    cursor: not-allowed;

    &::placeholder {
      color: var(--msg-input--disabled__placeholder__color);
    }
  }
}

/* ************************
** Themes
** ********************* */

.pn-msg-input--dark,
.pn-msg-input--event-dark,
.pn-msg-input--support-dark {
  --msg-input__background: var(--chat--dark__background--1);
  --msg-input__icon__color: var(--chat--dark__color--2);
  --msg-input__send__color: var(--chat--dark__color--2);
  --msg-input__send--active__color: var(--chat--dark__hover--1);
  --msg-input--disabled__placeholder__color: rgba(var(--chat--dark__hover--4-rgb), 0.5);
  --msg-input__placeholder__color: var(--chat--dark__hover--4);
  --msg-input__textarea__background: var(--chat--dark__background--2);
  --msg-input--disabled__textarea__background: rgba(var(--chat--dark__background--2-rgb), 0.5);
  --msg-input__textarea__color: var(--chat--dark__color--1);
  --msg__preview__color: var(--chat--dark__color--1);
}
